<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="recipe_product_layout_handle" instance="Magento360\Recipe\Observer\RecipeProductLayout" />
    </event>
</config>
